<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault                          "access plus 0 seconds"

  # Media: images, video, audio
  ExpiresByType audio/ogg                 "access plus 5 minutes"
  ExpiresByType image/gif                 "access plus 5 minutes"
  ExpiresByType image/jpeg                "access plus 5 minutes"
  ExpiresByType image/jpg                "access plus 5 minutes"
  ExpiresByType image/png                 "access plus 5 minutes"
  ExpiresByType video/mp4                 "access plus 5 minutes"
  ExpiresByType video/ogg                 "access plus 5 minutes"
  ExpiresByType video/webm                "access plus 5 minutes"
</IfModule>
